@page
@model IndexModel
@{
    ViewData["Title"] = "DreamWorks movies";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<p>Here are some of dreamworks top moveis</p>
</div>

<body>
    <iframe src="https://www.dreamworks.com/movies" width="1100" height="1000"></iframe>
</body>