@page
@model Newpage
@{
    ViewData["Title"] = "Madagascar";
}
<h1>@ViewData["Title"]</h1>
<img src="https://media1.giphy.com/media/YQG9OyPMvjbjVI8oii/giphy.gif" alt="I like to move it">
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2DFMEY4PUNyQXRLBDYNeIC?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>