@page
@model Privacypage
@{
    ViewData["Title"] = "Disclaimer";
}
<h1>@ViewData["Title"]</h1>
Hello and thank you for taking the time to check out this webpage, I would like to disclaim
that all applications,api's,webpages and all other resources belong to their respective owners.
Thank you!